@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');


:root{
    --mainbgcolor_1: #5a81c3;
    --mainbgColor_2: #17181a;
    --headerbgColor: #eeeeee;
    --cardbgColor: #212121;
    --headerFontSize: 1.3rem;
    --font-family: 'RocknRoll One', sans-serif;

}


.wrapper{
    font-family: var(--font-family);
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    
}
.playlists, .local{
    border: 1px solid black;
}

.title{
    font-size: var(--headerFontSize);
    background-color: var(--headerbgColor);
}

.body_container{
    color:white;
    background-image: linear-gradient(to right,#8199c4,#d4d4d4);
    height:95vh;
    overflow: scroll;
}
.body_container_right{
    height:95.2vh;
    background-image: linear-gradient(to right,#8199c4,#d4d4d4);
    color:white;
   
}

.search_container{
    height: 22%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}
.search_container p{
    flex-grow: 1;
}
.search_container Input{
    flex-grow: 3;
    width: 35%;
    border-radius: 25px;
    border: 1px solid black;
    margin-right: 5%;
    margin-bottom: 1%;
    
}
Input:active{
    outline:none;
}
Input:focus{
    outline: auto;
}
.card_container{

    width: 100%;
    padding-top: 1rem ;
    display:flex;
    flex-direction: column;
    gap:10px;
    overflow:scroll;
    /* border: 1px solid rgb(35, 92, 250); */
}
.card_item,.card_item_right{
    border-radius: 5px;
    cursor:pointer;
}
.card_item:hover{
    transform: scale(1.01);
    transition: transform .1s ease-in;
}
.card_container_right{
    padding-top: 1rem;
    display:flex;
    flex-direction: column;
    gap:10px;
    overflow:scroll;
}

.card_item{
    min-height: 6.5rem;
    align-items: stretch;
    display:flex;
    background-color: rgb(36, 35, 35,.8);
    position: relative;
  
    margin-left: 5px;
    margin-right: 5px;
   
}

.image_container, .card_content{
    border-radius: 5px;
   border: none;
}
.image_container{

    width: 25%;
}

.card_content{
    gap:10px;
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center
}
.card_container_right{
    

    
    width: 100%;
    height:95.2vh;
    overflow:scroll;

}

@media (max-width:480px){
    .playlists, .local{
        border: 1px solid black;
        height:50vh;
        overflow: scroll;
    }
    .body_container{
        height:45vh;
        overflow: scroll;
    }
    .body_container_right{
        
            height:45vh;
            overflow: scroll;
        
    }
    .card_container{
        height:unset
    }
}